/* Reseta estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a5619;
    color: #fff;
    padding: 16px 0;
}   

nav {
    padding: 16px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 16px;
    font-size: 15px;
    font-weight: bold;
}

nav ul li a {
    color: #ffffff9d;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
}

section {
    margin-top: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-section,
#cadastro-section,
#clientes-section {
    display: none;
}

#login-section.active,
#cadastro-section.active,
#clientes-section.active {
    display: block;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-campo {
    margin-bottom: 20px;
}

.form-campo label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-campo input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
}

button:hover {
    background-color: #0e7c4f;
}

#clientes-section h2 {
    margin-bottom: 20px;
}

#client-form {
    margin-bottom: 20px;
}

#client-list {
    list-style: none;
    padding: 0;
}

#client-list li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#client-list li button {
    background-color: #119759;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    width: 90px;
}

#client-list li button:hover {
    background-color: #0e7c4f;
}

#client-list li button.edit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#client-list li button.edit-btn:hover {
    background-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

/* Estilo para o ícone do olho */
.senha-container {
    position: relative;
}

#show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}
